@using GovUkDesignSystem
@using GovUkDesignSystem.GovUkDesignSystemComponents
@model DccTestWebApp.Models.GovUkPageModel

@{
    ViewData["Title"] = "GovUK Create";
}

<h1>Create</h1>

<h4>Address</h4>
<hr />
<div class="row">

    @(Html.GovUkErrorSummary())

    <div class="col-md-4">
        <form asp-action="Create">
            @(Html.AntiForgeryToken())

            @await Html.PartialAsync("_GovUkAddress", Model.Address)

            @(Html.GovUkButton(new ButtonViewModel
            {
                Text = "Submit",
                Classes = "govuk-!-margin-bottom-4"
            }))
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
